{
    "wifi": {
        "ssid" : "FIXME",
        "psk"  : "FIXME"
    },
    "mqtt": {
        "server"     : "FIXME",
        "port"       : 8883,
        "ssl"        : true,
        "password"   : "FIXME",
        "user"       : "FIXME"
    }


}
